<h1 class="text-center text-grey">Annat</h1>
<hr>

<div class="container">
  <div class="row">

    <div class="col-lg-4 pb-3 px-0">
      <div class="card">
        <div class="card-header bg-primary text-center text-white">
          🚊Tvärbanan
        </div>
        <div class="card-body p-0">
          <ul class="list-group list-group-flush">

            <li class="list-group-item">
            <div id="tvar1"></div></li>
            <li class="list-group-item">
            <div id="tvar2"></div></li>
            <li class="list-group-item">
            <div id="tvar3"></div></li>

          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4 pb-3 px-0">
      <div class="card">
        <div class="card-header bg-primary text-center text-white">
          🚌Essinge Torget
        </div>
        <div class="card-body p-0">
          <ul class="list-group list-group-flush">

            <li class="list-group-item">
            <div id="etBus1"></div></li>
            <li class="list-group-item">
            <div id="etBus2"></div></li>
            <li class="list-group-item">
            <div id="etBus3"></div></li>

          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4 pb-3 px-0">
      <div class="card">
        <div class="card-header bg-primary text-center text-white">
          🚌Lilla Essingen
        </div>
        <div class="card-body p-0">
          <ul class="list-group list-group-flush">

            <li class="list-group-item">
            <div id="leBus1"></div></li>
            <li class="list-group-item">
            <div id="leBus2"></div></li>
            <li class="list-group-item">
            <div id="leBus3"></div></li>

          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
<hr>



