<h1 class="text-center text-grey">Restauranger</h1>
<hr>
<div class="row my-4" id="output">

</div>
<hr>

<!-- Load in the partials -->
{{> essingeWok/e-wok-menu}}
{{> essingeWok/e-wok-pics}}
{{> essingeWok/e-wok-time}}
{{> storaEssingenPizzeria/se-pizza-menu}}
{{> storaEssingenPizzeria/se-pizza-pics}}
{{> storaEssingenPizzeria/se-pizza-time}}
{{> nowSushi/now-sushi-menu}}
{{> nowSushi/now-sushi-pics}}
{{> nowSushi/now-sushi-time}}
{{> essingeGrill/e-grill-menu}}
{{> essingeGrill/e-grill-pics}}
{{> essingeGrill/e-grill-time}}
{{> ilCarpaccio/carpaccio-menu}}
{{> ilCarpaccio/carpaccio-pics}}
{{> ilCarpaccio/carpaccio-time}}
{{> cafePo/cafe-menu}}
{{> cafePo/cafe-pics}}
{{> cafePo/cafe-time}}
{{> hstWok/hstWok-menu}}
{{> hstWok/hstWok-pics}}
{{> hstWok/hstWok-time}}