<div class="modal fade bd-example-modal-xl r-3" id="nowSushiTime" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <h2 class="pt-3" style="color:crimson;">NOW Sushi</h2>
            <p class="mb-0 pt-1">Mån-Fre</p>
            <h6>11:00 - 21:00</h6>
            <p class="mb-0">Lör-Sön</p>
            <h6 class="pb-3">12:00 - 20:30</h6>
            <div class="modal-footer p-1 bg-light" style="justify-content: center;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>